
/* Reset & body */
* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: Arial, sans-serif;
 }

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8012b0;
    color: rgb(20, 19, 19);
    padding: 15px 30px;
}
.navbar input {
    width: 40%;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

/* Products */
.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 30px;
}

.card {
    border: 1px solid #d6c5c5;
    padding: 15px;
    text-align: center;
    width: 200px;
    transition: transform 0.3s;
}

.card:hover { transform: scale(1.05); }

.card img { width: 100%; height: 150px; object-fit: cover; }

.card button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}
.card button:hover { background-color: #218838; }

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

/* Responsive */
@media (max-width: 600px) {
    .products { flex-direction: column; align-items: center; }
    .navbar input { width: 60%; }
}